body{
      background-image: url("images/imgs7.jpg") ;
}
.center{
  position: relative;

  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-family:serif;
  text-decoration-color: white;
}
